@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", serif;
  background-color: #f1f1f3;
}
/* .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
} */
/* nab var starts */
header {
  width: 90%;
  padding: 31px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo p {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
  cursor: pointer;
}

nav .button button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  border: 2px solid #006a50;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
nav .button button:hover {
  background-color: #006a50;
  color: #fff;
}
/* nab var ends */

/* hero section starts */
.hero_main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 70px 50px;
  margin-bottom: 80px;
}
.hero_info p {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e;
  margin-bottom: 16px;
  opacity: 50%;
}
.hero_info h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.hero_info button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.hero_info button:hover {
  background-color: rgb(202, 0, 0);
}
/* hero section ends */

/* pillars section starts */
.pillars_main_container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.pillars_main_container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.pilars_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pillars_box {
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  transition: 0.5s;
}
.pillars_box:hover {
  background-color: aquamarine;
  background-color: #c6e4d6;
  cursor: pointer;
}
.pillars_box img {
  margin-bottom: 24px;
}
.pillars_box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.pillars_box p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
/* pillars section ends */

/* vision section starts */
.vision_main_cont {
  width: 90%;
  margin: 0 auto;
}
.vision_main_cont h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.vision_main_cont p {
  line-height: 24px;
  color: #0e0e0e;
  margin-bottom: 32px;
}

/* box styling */
.vision_box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.vision_box {
  padding: 32px;
  border-radius: 16px;
}
.vision_box img {
  margin-bottom: 24px;
}
.vision_box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.vision_box p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.vision_box button {
  padding: 11px 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.vision_firs_box {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision_firs_box button {
  background-color: #5490f5;
}
.vision_sec_box {
  background-color: #c6e4d6;
}
.vision_sec_box button {
  background-color: #09a15c;
}
.vision_third_box {
  background-color: #f7ebcf;
}
.vision_third_box button {
  background-color: #ffc239;
}
.vision_box button {
  transition: 0.5s;
  cursor: pointer;
}
.vision_box button:hover {
  background-color: #006a50;
}
/* vision section ends */

/* qoute section starts */
.quote_main_cont {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 25px 24px 48px 24px;
  margin-bottom: 80px;
}
.quote p {
  line-height: 25px;
  color: #0e0e0e;
  margin-bottom: 12px;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  padding-top: 23px;
}
.quoter h5 {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
  line-height: 24px;
}
.quoter p {
  color: rgba(14, 14, 14, 0.6);
  line-height: 24px;
}
/* qoute section ends */

/* opinion section starts */
.opinion_main_cont {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.opinion_main_cont h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.q_sub_main {
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
}
.questions {
  background-color: #fff;
  border: 1px solid gray;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.q_title {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.q_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  padding-left: 24px;
}
.q_info p {
  font-weight: 600;
  color: #0e0e0e;
}
.select_option {
  border-left: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}
.select_option select {
  font-size: 16px;
  font-weight: 500;
  color: #0e0e0e;
  padding: 10px 16px;
  background-color: #c6e4d6;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.select_option select:hover {
  background-color: #2bbf7a;
}
/* opinion section ends */

/* news section starts */
.news_main_container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.news_main_container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.news_main_container p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.news_bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
  padding: 48px;
  border-radius: 24px;
  background-color: #fff;
}
.news_bx .news_left img {
  border-radius: 24px;
}

.news_right h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.date-time span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin: 12px;
  margin-left: 0;
}
.news_right p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.news_right button {
  padding: 13px 26px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.news_right button:hover {
  background-color: #5490f5;
}

.news_box_two {
  flex-direction: row-reverse;
}
/* news section ends */

/* donate section starts */
.donate_main_cont {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.donate_main_cont h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
  text-align: center;
}
.donate_main_cont p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
  text-align: center;
}
.cont_for_column {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.donate_box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.donate_box p {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  transition: 0.5s;
  cursor: pointer;
}
.donate_box_two p {
  background-color: #c6e4d6;
}
.donate_box p:hover {
  background-color: #c6e4d6;
}
.manually_select_mony input {
  width: 1080px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  outline: none;
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
}

.donate_main_cont button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.donate_main_cont button:hover {
  background-color: #5490f5;
}

/* donate section ends */

/* subscribe section starts */
.sub_main_cont {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #c6e4d6;
  padding: 80px;
  border-radius: 24px;
  margin-bottom: 80px;
}
.sub_main_cont h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.sub_main_cont p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.sub_main_cont input {
  width: 720px;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
  border: 0;
  outline: 0;
  border-radius: 10px 0 0 10px;
  margin-bottom: 24px;
}
.sub_main_cont button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #006a50;
  border: 0;
  outline: 0;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-inline-start: -4px;
}
.sub_main_cont button:hover {
  background-color: #5490f5;
}
/* subscribe section ends */

/* footer starts */
footer {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}
footer .footer_head h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.2);
}
.footer_head {
  width: 80%;
  margin: 0 auto;
}
.icons img {
  width: 25px;
  height: 24px;
  margin: 0 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.icons img:hover {
  width: 30px;
  height: 29px;
}
/* footer ends */
