@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", serif;
  background-color: #f1f1f3;
}
/* nab var starts */
header {
  width: 90%;
  padding: 31px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo p {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
  cursor: pointer;
}

nav .button button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  border: 2px solid #006a50;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
nav .button button:hover {
  background-color: #006a50;
  color: #fff;
}
/* nab var ends */

/* hero section starts */
.hero_main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 70px 50px;
  margin-bottom: 80px;
}
.hero_info p {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e;
  margin-bottom: 16px;
  opacity: 50%;
}
.hero_info h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.hero_info button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.hero_info button:hover {
  background-color: rgb(202, 0, 0);
}
/* hero section ends */

/* pillars section starts */
.pillars_main_container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.pillars_main_container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.pilars_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pillars_box {
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  transition: 0.5s;
}
.pillars_box:hover {
  background-color: aquamarine;
  background-color: #c6e4d6;
  cursor: pointer;
}
.pillars_box img {
  margin-bottom: 24px;
}
.pillars_box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.pillars_box p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
/* pillars section ends */

/* vision section starts */
.vision_main_cont {
  width: 90%;
  margin: 0 auto;
}
.vision_main_cont h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.vision_main_cont p {
  line-height: 24px;
  color: #0e0e0e;
  margin-bottom: 32px;
}

/* box styling */
.vision_box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.vision_box {
  padding: 32px;
  border-radius: 16px;
}
.vision_box img {
  margin-bottom: 24px;
}
.vision_box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}
.vision_box p {
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.vision_box button {
  padding: 11px 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.vision_firs_box {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision_firs_box button {
  background-color: #5490f5;
}
.vision_sec_box {
  background-color: #c6e4d6;
}
.vision_sec_box button {
  background-color: #09a15c;
}
.vision_third_box {
  background-color: #f7ebcf;
}
.vision_third_box button {
  background-color: #ffc239;
}
.vision_box button {
  transition: 0.5s;
  cursor: pointer;
}
.vision_box button:hover {
  background-color: #006a50;
}
/* vision section ends */

/* qoute section starts */
.quote_main_cont {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 25px 24px 48px 24px;
  margin-bottom: 80px;
}
.quote p {
  line-height: 25px;
  color: #0e0e0e;
  margin-bottom: 12px;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  padding-top: 23px;
}
.quoter h5 {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
  line-height: 24px;
}
.quoter p {
  color: rgba(14, 14, 14, 0.6);
  line-height: 24px;
}
/* qoute section ends */
